{
    "output": "dist/build-configs",
    "files": [
        ".env",
        "autoload_runtime.template",
        "src/Controller/.gitignore"
    ],
    "directories": [
        "config",
        "resources",
        "templates",
        "templates/common/.githooks",
        "var"
    ],
    "force-autodiscovery": true,
    "check-requirements": false,
    "exclude-composer-files": false,
    "compression": "GZ"
}
