{
    "output": "build-configs",
    "files-bin": [
        ".env.local.php",
        "autoload_runtime.template",
        "src/Controller/.gitignore"
    ],
    "directories": [
        "config",
        "public",
        "resources",
        "var"
    ],
    "force-autodiscovery": true,
    "check-requirements": false,
    "exclude-composer-files": false,
    "compression": "GZ"
}
