<?xml version="1.0"?>
<ruleset name="php-simple coding standards">
   <description>PHPCS configuration file for php-simple.</description>
   <file>src</file>
   <arg value="np"/>
   <rule ref=""/>
</ruleset>
