export DOCKER_UID=1000

{% if dockerCompose %}
export COMPOSE_PROJECT_NAME={{ name }}
export COMPOSE_PROFILES=web,php,database

export DOCKER_WEB_VOLUME=.:/app
{% endif %}

{% if "drupal-project" == type %}
export MYSQL_DATABASE=drupal
export MYSQL_PASSWORD=drupal
export MYSQL_USER=drupal
{% endif %}
